:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.1);
  background: #d26da8;



  
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

.decorator {
  margin: 0;
  padding: 0;
  height: 100vh;
  opacity: 0.3;
  background-image: url("/texture.jpg");
  background-repeat: no-repeat; /* Prevent background image from repeating */
  background-size:100% 150%; /* Cover the entire element with the background image */
}


.centered-div {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 60vw;
  background-color: #000000;
}

/* Responsive styles for smaller screens */
@media only screen and (max-width: 768px) {
  .centered-div {
    height: 80vh;
    width: 90vw;
  }
}



/* SIDE DIV */
.side-div {
  display: flex;
  z-index: 99;
  height: 25rem;
  transform-origin:left;
  left: 50%;
  top: 0;
  transform: translate(-50%, -80%);
  width: 100%;
  padding-bottom: 20px;
  position:absolute;
  background-color: rgba(0, 0, 0, 0.425);
  transition: transform 0.3s ease-in-out; /* Transition effect for the transform property */
}

.side-div.hidden {
  transform: translate(-50%, 0); /* Move the sidebar out of the screen */
}

#toggleButton {
  position: absolute;
  left: 10%;
  bottom: 5%;
  transform: translate(-50%, 50%) rotateZ(0deg); /* Move the sidebar out of the screen */
  border: #000000;
  transition: transform 0.3s ease;
  cursor: pointer;
  
}


#toggleButton:hover { 
  filter: brightness(0) saturate(100%) invert(80%) sepia(77%) saturate(1204%) hue-rotate(336deg) brightness(100%) contrast(90%);
}



#toggleButton.toggled {
  transform: translate(-50%, 50%) rotateZ(180deg); /* Rotate on the Z-axis */
  transition: transform 0.3s ease;

}


/* SHOP */
.shop-menu {
  height: 100%;
  width: 50%;
  border: 3px solid rgba(255, 255, 255, 0.74);
  margin: 10px;
  position: relative;
}

.shop-menu .window {
  margin-top: 3.2rem;
  max-height: 70%; /* Adjust this height as needed */
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.shop-menu .window div {
  border: 3px solid rgba(255, 255, 255, 0.74);
  width: 95%;
  height: 5rem;
  margin: 5px;
  position: relative;
  transition: 0.3s all;
}

.shop-menu .window div:hover {
  transform: translate(-5px, 0);
}

.shop-menu .window div button {
  cursor: pointer;
  position: absolute ;
  background-color: white;
  opacity: 0.8;
  text-align: center;
  justify-content: center;
  width: 30%;
  font-size: larger;
  font-weight: bolder;
  height: 100%;
  right: 0%;
  border: 0px black;  
  color: black;
  transition: 0.3s all;
}

.shop-menu .window div button:hover {
  background-color: #F3CA52;
  opacity: 1;
}

/* SELECTOR */
.nav-shop {
  z-index: 99;
  color: white;
  border-top: 3px solid rgba(255, 255, 255, 0.74);
  width: 100%;
  height: 3rem;
  align-items: center;
  top: 50px;
  position: absolute;
}

/* COINS */

.coins {
  z-index: 99;
  color: white;
  border-top: 3px dotted rgba(255, 255, 255, 0.74);
  width: 100%;
  height: 3rem;
  align-items: center;
  bottom: 0;
  position: absolute;
}

.coins p {
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
}

/* STATUS BAR */
#hngrValTxt, #clnValTxt, #enjyValTxt {
  font-size: 2rem;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #ffffff;
  font-weight: bolder;
} 


.statusBar {
  position: relative;
  padding: 50px;
  width: 50%;

}

#hngrLoad, #clnLoad, #enjyLoad {
  background-color: #b6b6b6;
  width: 100%;
  height: 35px;
  border-radius: 10px;
  border: 1px solid black;
  overflow: hidden;

  position: relative;
  
}

.fill {
  height: 100%;
  width: 1%;
  background: linear-gradient(45deg, #ffffff, #ffffff);
  position: absolute;
  z-index: 99;


}

.boxHolder {
  background-color: #ffffff3b;
  width: 100%;
  height: 100%;
  z-index: 99;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
}

.box {
  position: relative;
  height: 100%;
  background-color: #00000033;
  width: 5px;
}



/* BUTTONS */

.btnChoices {
  height: 8rem;
  position: relative;
  width: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-content:center;
  gap: 10px;

}

.btnChoices button { 
  padding: 10px 20px;
  border: none;
  width: 100%;
  margin: 20px;
  color: white;
  background-color: transparent;
  border: 4px solid white;
  border-radius: 15%;
  font-size: 50%;
  cursor: pointer;
  margin: 10px;
  font-size: 2rem;
  font-weight: bold;
  box-shadow: 0px 10px 40px rgb(0, 0, 0);
  transition: background-color 0.1s ease-in-out, box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}



.btnChoices button:hover {
  background-color: #F3CA52;
  box-shadow: 1px 1px 0px rgb(37, 24, 24);
  transform: translate(0px, 10px);
}

.btnChoices button:focus {
  outline: none;
}


/* HEARTS */

.hearts {
  position: absolute;
  bottom: 0;
  padding: 0;
  transform: translate(0, 10px);
  left: 18%;

}

.hearts img {
  width: 50px;
  margin: 0 5px;
  height: 50px;
}



/* CANVAS */

#gameCanvas {
  border: 5px solid black;
  position: relative;
  background-color: #000000;
  flex-grow: 2;
  box-shadow: 
  0 0 100px #2c78659c,
  0 0 500px rgba(0, 0, 0, 1);


  /* Set background image */
  background-image: url('/BgMain.png'); /* Replace 'your-image-url.jpg' with the URL of your background image */
  background-size: 100% 100%; /* Ensure the background image covers the entire div */
  background-repeat: no-repeat; /* Prevent background image from repeating */
  background-position: center; /* Center the background image */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
